*{
    margin: 0;
    padding: 0;
}

.navbar{
   
    padding: 10px;
    
}

.nav-title{
    font-size: 30px;
    text-decoration: none;
    padding: 5px;
    background-color: #f8bdb5;
    color: white;
   

}

.nav-pages{
    
    text-decoration: none;
    color: #a9802a;
}

a{
    margin-right: 120px;

}

.div-content{ 

    height: 240px;
    width: auto;
    display: flex;
    background-color: #edf6f5;
    padding: 20px;
}

.div-descrip{
    padding: 20px;
    text-align: start;
    font-size: 20px;
    margin: 20px 46px ;
    font-family: "sevillana";
    font-weight: 500;

}

.div-title{
    text-align: center;
    color: #a9802a;
    font-size: 24px;
    font-family: "Bona Nova SC";
    font-weight: 600;
}

.div-img{
    height: 200px;
    margin-left: 130px;
}

.div-btn{
    font-size: 18px;
    font-family: "Bona Nova SC";
    font-weight: 600;
    background-color: #d9a9d1;
    border-radius: 24px;
    padding: 2px;
    margin-left: 300px;
    cursor: pointer;

}

.div-btn:hover{
    font-size: 20px;
    padding: 4px;
}

.product-cards{
    background-color: #edf6f5;
    margin-top: 0px;
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.cards{
    background-color: white;
    height: 360px;
    width: 250px;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow:0 10px 15px -1px rgba(0,0,0,.1) ;
    padding: 10px;
    text-align: center;
    margin: 17px;
   
}

.card-img{
    height: 170px;
    width: 170px; 
    padding: 5px;
    margin: 5px;
    background-color: white;
    border: 2px solid transparent;
    border-radius: 50%;
    box-shadow:0 10px 15px -1px rgba(0,0,0,.1) ;

}

h1{
    margin-top: 0px;
    padding: 8px;
    text-align: center;
    background-color: #f8bdb5;
}

.prod-details{
    margin: 10px;
}

.prod-btn{
    background-color: #f8bdb5;
    color: #a9802a;
    font-size: 18px;
    font-family: "Bona Nova SC";
    font-weight: 600;
    border-radius: 24px;
    padding: 2px;
    cursor: pointer;
    margin: 20px;
}


.footer{
    height: 230px;
    display: flex;
    justify-content: center;
    background-color: #f8bdb5;

}

.footer-img{
    height: 200px;
}

.footer-text{
    margin-top: 70px;
    margin-right: 40px;
    font-size: 24px;
    font-family: "Bona Nova SC";
    font-weight: 600;
}